<header
  class="fixed top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container mx-auto flex h-14 items-center md:h-16">
    <button
      (click)="navItems[0].href()"
      class="flex items-center justify-center mr-4 space-x-2 md:mr-6 cursor-pointer"
    >
      <img
        src="/hyosei.ico"
        alt="Logo feria de ciencias"
        class="w-8 h-8 block"
      />
      <span class="text-xl font-bold">Hyōsei</span>
    </button>

    <!-- {/* Navegación para escritorio */} -->
    <nav class="hidden md:flex md:flex-1 md:items-center md:justify-between">
      <div class="flex gap-4 md:gap-6">
        @for (item of navItems; track $index) {
        <button
          (click)="item.href()"
          class="text-sm font-medium transition-colors hover:text-primary cursor-pointer"
        >
          {{item.name}}
        </button>
        }
      </div>

      <div class="flex items-center gap-2">
        @if (isLoggedIn) {
        <div class="card flex justify-center">
          <p-button
            type="button"
            [label]="user.name"
            (onClick)="toggle($event)"
            styleClass="min-w-48"
          >
            <i class="pi pi-user"></i
          ></p-button>
          <p-popover #op>
            <div class="flex flex-col gap-4 p-1.5">
              <div>
                <ul class="list-none p-0 m-0 flex flex-col">
                  <li
                    class="flex items-center gap-2 px-2 py-1 hover:bg-emphasis cursor-pointer rounded-border"
                  >
                    <button (click)="navItems[2].href()">
                      Mis evaluaciones
                    </button>
                  </li>
                  <div class="border-b my-1"></div>
                  <li
                    class="flex items-center gap-2 px-2 py-1 hover:bg-emphasis cursor-pointer rounded-border"
                  >
                    <i class="pi pi-sign-out"></i>
                    <p-button (onClick)="logout()">Cerrar sesión</p-button>
                  </li>
                </ul>
              </div>
            </div>
          </p-popover>
        </div>
        } @else {
        <button
          (click)="navigateToLogin()"
          class="cursor-pointer flex items-center bg-black p-2.5 rounded-md text-white"
        >
          <i class="pi pi-sign-in mr-2 h-4 w-4"></i>
          <span class="hidden sm:inline">Iniciar sesión</span>
          <span class="sm:hidden">Ingresar</span>
        </button>
        }
      </div>
    </nav>

    <!-- {/* Menú móvil */} -->
    <div class="flex flex-1 items-center justify-end md:hidden">
      <p-drawer #drawerRef [(visible)]="visible" position="right">
        <ng-template #headless>
          <div class="flex flex-col h-full p-2.5">
            <div class="flex items-center justify-between px-6 pt-4 shrink-0">
              <span class="inline-flex items-center gap-2">
                <button
                  (click)="navItems[0].href()"
                  class="flex items-center justify-center mr-4 space-x-2 md:mr-6 text-black"
                >
                  <img
                    src="/hyosei.ico"
                    alt="Logo feria de ciencias"
                    class="w-8 h-8 block"
                  />
                  <span class="text-xl font-bold">Hyōsei</span>
                </button>
              </span>
              <span>
                <p-button
                  type="button"
                  (click)="closeCallback($event)"
                  icon="pi pi-times"
                  rounded="true"
                  outlined="true"
                  styleClass="h-8 w-8"
                ></p-button>
              </span>
            </div>
            <div class="overflow-y-auto">
              <ul class="list-none p-0 m-0 overflow-hidden">
                @for (item of navItems; track $index) {
                <li>
                  <button
                    (click)="item.href()"
                    class="flex items-center cursor-pointer p-4 transition-colors hover:text-foreground"
                  >
                    <i class="pi {{item.icon}} mr-2"></i>
                    <span class="text-black">{{item.name}}</span>
                  </button>
                </li>
                }
              </ul>
              <div class="border-b my-1 w-full mx-auto"></div>
              @if (isLoggedIn) {
              <div class="grid gap-3 p-2.5">
                <div class="flex items-center gap-2">
                  <i class="pi pi-user h-4 w-4"></i>
                  <span class="font-bold">{{user.name}}</span>
                </div>
                <button (click)="navItems[2].href()">
                  <i class="pi pi-clipboard mr-2 inline h-4 w-4"></i>
                  Mis evaluaciones
                </button>
                <button
                  class="flex justify-center items-center gap-2 px-2 py-1 cursor-pointer rounded-border bg-black text-neutral-100"
                  (click)="logout()"
                >
                  <i class="pi pi-sign-out"></i>
                  <span>Cerrar sesión</span>
                </button>
              </div>
              } @else {
              <button
                pButton
                class="w-full mx-auto bg-black rounded-md h-8 mt-2 text-neutral-100"
              >
                <button (click)="navigateToLogin()">
                  <i class="pi pi-sign-in mr-2 h-4 w-4"></i>
                  <span>Iniciar sesión</span>
                </button>
              </button>
              }
            </div>
          </div>
        </ng-template>
      </p-drawer>
      <p-button (click)="visible = true" icon="pi pi-bars" />
    </div>
  </div>
</header>
