/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

html {
  color-scheme: light !important;
  background: #fff !important;
}
body {
  background: #fff !important;
  color: #000 !important;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #fff !important;
    color: #000 !important;
  }
}
