<section
  class="mb-8 rounded-lg bg-gradient-to-r from-neutral-100 to-neutral-200 p-4 text-neutral-800 md:mb-16 md:rounded-xl md:p-8"
>
  <div class="grid gap-6 md:grid-cols-2 md:gap-10">
    <div class="flex flex-col justify-center space-y-4">
      <div>
        <h1
          class="mb-2 text-2xl font-bold tracking-tight sm:text-3xl md:text-4xl lg:text-5xl"
        >
          {{eventData.name}}
        </h1>
        <p class="text-lg text-neutral-600 md:text-xl">
          {{eventData.sub_title}}
        </p>
        <p class="text-xl md:text-xl mt-3 font-semibold">
          {{eventData.description}}
        </p>
      </div>
      <div class="space-y-2">
        <div class="flex items-center gap-2">
          <i class="pi pi-calendar h-5 w-5 text-neutral-500"></i>
          <span>
            {{ formatDate(eventData.date_start) }} @if
            (!isSameDay(eventData.date_start, eventData.date_end)) {
            <ng-container>
              — {{ formatDate(eventData.date_end) }}
            </ng-container>
            }
          </span>
        </div>
        <div class="flex items-center gap-2">
          <i class="pi pi-clock h-5 w-5 text-neutral-500"></i>
          <span
            >{{formatTime(eventData.date_start)}} -
            {{formatTime(eventData.date_end)}} hrs</span
          >
        </div>
        <div class="flex items-center gap-2">
          <i class="pi pi-map-marker h-5 w-5 text-neutral-500"> </i>
          <span>{{eventData.location}}</span>
        </div>
      </div>
      <div class="flex flex-wrap gap-3 pt-4">
        <button
          (click)="navigateToProjects()"
          pButton
          class="bg-neutral-900 text-white hover:bg-neutral-700 px-4 rounded-xl h-12"
        >
          <span pButtonLabel>Ver Proyectos</span>
        </button>
        <button
          (click)="goToSignup()"
          pButton
          class="border-neutral-400 hover:bg-neutral-200 bg-transparent border px-4 rounded-xl h-12 cursor-pointer"
        >
          <span pButtonLabel>Registrarse</span>
        </button>
      </div>
    </div>
    <div class="mt-6 md:mt-0 md:flex md:items-center md:justify-center">
      <div class="relative overflow-hidden rounded-lg">
        <img
          src="{{eventData.banner_url}}"
          alt="Feria Universitaria"
          class="object-center"
        />
      </div>
    </div>
  </div>
</section>
